body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

input {
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 14px 22px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #125aa3;
}
